{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "import/extensions": [1, "never", { "svg": "always" }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [2, { "ignorePureComponents": true }],
    "react/forbid-prop-types": [0, { "forbid": [] }],
    "react/jsx-one-expression-per-line": 0,
    "react/destructuring-assignment": 0,
    "arrow-parens": 0,
    "camelcase": 0,
    "comma-dangle": 0,
    "global-require": 0,
    "implicit-arrow-linebreak": 0,
    "no-confusing-arrow": 0,
    "no-return-assign": 0,
    "object-curly-newline": 0,
    "semi-style": 0,
    "semi": 0
  },
  "globals": {
    "fetch": false,
    "navigator": false
  }
}
